*.pub
**/.terraform
.env
.currentkey
keys
*.json
.terraform
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
*.tfvars
playbooks/modules/setup/modpacks
playbooks/modules/
!playbooks/modules/*.yaml
.token
**/meta.json
**/gcpkey.json
profiles/
